body {
    margin: 0px;
    padding: 0px;
}

nav {
    display: flex;
    flex-direction: row;
    top: 0;
    width: 100%;
    overflow: auto;
    height: auto;
}

.left-nav {
    flex: 1 1 200px;
    margin: 0px 200px;
}

.right-nav {
    margin: 0px 200px;
}

.links {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

